@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}
/* extra header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    /* new */
    background-color: #86BBD8;
    color: black ;
}


  
/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* test  */


button,
input,
.story-card button a,
.my-form textarea {
    color: var(--light-font);
    justify-content: center;
    /* border: unset; */
    padding-bottom: 2rem;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: var(--bold-font);
    margin-top: 10px;
    /* background-color: var(--bg-dark); */
    /* color: var(--light-font);    */
} 

.profile {
    display: block;
    flex-flow: column space-between;
    margin-bottom: 100px;
    padding: 100px;
}
