{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}


<div id="story-wrapper">
    <!-- <h2>{{ story.title }}</h2> -->
    <h4>{{ author }}</h4>
    <!-- <div id="story-content">
       
        {% if story.image %}
        <img src="{{ story.image }}">
        {% else %}
        <img src="https://picsum.photos/600">
        {% endif %}
        {{ story.content|linebreaks }}
    </div> -->
 
    <div id="all_stories">
        {% if author_stories %}
            {% for story in author_stories %}
               {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>



{% endblock %}